In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv('C:/yolanda/datamining/dataset_soalno1.csv',delimiter=';')

In [3]:
df.head()

      Age  Income Student Credit_rating Class (buy_computer)
0    <=30    High      No          Fair                   No
1    <=30    High      No     Excellent                   No
2  31..40    High      No          Fair                  Yes
3    > 40  Medium      No          Fair                  Yes
4    > 40     Low     Yes          Fair                  Yes

In [4]:
df.shape

(51, 5)

In [5]:
#student
df['Student'].value_counts()

Yes    27
No     24
Name: Student, dtype: int64

In [6]:
PYes = 27/51
PNo = 24/51

In [7]:
print(PYes)

0.5294117647058824

In [8]:
print(PNo)

0.47058823529411764

In [9]:
#income with student
pd.crosstab(df['Income'], df['Student'])

Student  No  Yes
Income
High      9    2
Low       1   20
Medium   14    5

In [10]:
PHighNo = 9/24
PLowNo = 1/24
PMediumNo= 14/24

PHighYes = 2/27
PLowYes = 20/27
PMediumYes = 5/27

PHigh = 11/51
PLow = 21/51
PMedium = 19/51

print(PHighNo)

0.375

In [11]:
print(PLowNo)

0.041666666666666664

In [12]:
print(PMediumNo)

0.5833333333333334

In [13]:
print(PHighYes)

0.07407407407407407

In [14]:
print(PLowYes)

0.7407407407407407

In [15]:
print(PMediumYes)

0.18518518518518517

In [16]:
print(PHigh)

0.21568627450980393

In [17]:
print(PLow)

0.4117647058823529

In [18]:
print(PMedium)

0.37254901960784315

In [19]:
#credit rating with student
pd.crosstab(df['Credit_rating'], df['Student'])

Student        No  Yes
Credit_rating
Excellent       8   12
Fair           16   15

In [20]:
PExcellentNo = 8/24
PFairNo = 16/24

PExcellentYes = 12/27
PFairYes = 15/27

PExcellent = 20/51
PFair = 31/51

print(PExcellentNo)

0.3333333333333333

In [21]:
print(PFairNo)

0.6666666666666666

In [22]:
print(PExcellentYes)

0.4444444444444444

In [23]:
print(PFairYes)

0.5555555555555556

In [24]:
print(PExcellent)

0.39215686274509803

In [25]:
print(PFair)

0.6078431372549019

In [26]:
#income with class(buy_computer)
pd.crosstab(df['Income'], df['Class (buy_computer)'])

Class (buy_computer)  No  Yes
Income
High                   6    5
Low                   11   10
Medium                 5   14

In [27]:
PHighNo = 6/22
PLowNo = 11/22
PMediumNo= 5/22

PHighYes = 5/29
PLowYes = 10/29
PMediumYes = 24/29

PHigh = 11/51
PLow = 21/51
PMedium = 19/51

print(PHighNo)

0.2727272727272727

In [28]:
print(PLowNo)

0.5

In [29]:
print(PMediumNo)

0.22727272727272727

In [30]:
print(PHighYes)

0.1724137931034483

In [31]:
print(PLowYes)

0.3448275862068966

In [32]:
print(PMediumYes)

0.8275862068965517

In [33]:
#credit rating with class(buy_computer)
pd.crosstab(df['Credit_rating'], df['Class (buy_computer)'])

Class (buy_computer)  No  Yes
Credit_rating
Excellent              8   12
Fair                  14   17

In [34]:
PExcellentNo = 8/22
PFairNo = 14/22

PExcellentYes = 12/29
PFairYes = 17/29

PExcellent = 20/51
PFair = 31/51

print(PExcellentNo)

0.36363636363636365

In [35]:
print(PFairNo)

0.6363636363636364

In [36]:
print(PExcellentYes)

0.41379310344827586

In [37]:
print(PFairYes)

0.5862068965517241